* {
    box-sizing: border-box;
}
body {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background: #506c64;
    color: #220c10;
}

main {
    display: flex;
}
.playing-field {
    position: relative;
    height: 550px;
    background: url(assets/floorSix.jpg);
    /* background-size: cover; */
    /* background: darkgreen; */
}

.twenty {
    width: 30%;
    margin-right: 20px;
    background: #75b8c8;
    padding: 20px;
}

.twenty h2 {
    font-size: 28px;
    margin: 0;
}
.twenty .desc {
    margin: 0;
}
.eighty {
    width: calc(70% - 20px);
}
.flex-parent, .flex-parent-guide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 50vh; */
}
.flex-parent, .flex-parent-guide {
    padding: 40px;
    height: 550px;
}

.flex-child, .flex-child-guide {
    width: 90px;
    height: 90px;
    margin: 12px;
}
.flex-child {
    /* background-image: url(./assets/football.png); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-child-guide {
    background: rgba(255,165,0, 0.5);
}

.flex-child-guide:first-child {
    background: rgba(100, 50, 100, 0.5);
}

.input {
    margin-top: 20px;
}
.good-job {
    display: none;
}

.hold-input {
    margin: 12px;
    font-family: 'PT Mono', monospace;
    font-size: 20px;
}

.code-input {
    background: black;
    color: #39FF14;
    outline: none;
    border: none;
    padding: 12px;
    font-size: 16px;
    margin-left: 12px;
    margin-top: 2px;
    width: 90%;
    height: 100px;
    font-family: 'PT Mono', monospace;
}

.color-embellish {
    color: green;
}

.code-input-after {
    margin: 0;
}
